body {
  margin: 0%;
  padding: 0%;
}

.main-cont {
  display: grid;
  margin: 5% auto 0% auto;
  padding: 10px;
  width: 50%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: 5px solid rgb(138, 236, 10);
}

.sender {
  grid-column: 1 / -1;
  height: 100px;
  border-color: 5px solid rgb(235, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  flex-wrap: nowrap;
  input {
    width: 300px;
    height: 30px;
  }
  button {
    // width: 300px;
    height: 36px;
    width: 70px;
  }
  .btn-history {
    margin: 0px 0px 0px calc(100% / 3);
    .history {
        height: 44px;
        border-radius: 73px;
        width: 60px;
        border: none
    }
}
}

.receiver-1 {
  grid-column: 1 / span 2;
  height: 100px;
  border: 5px solid rgb(70, 10, 236);
}

.receiver-2 {
  grid-column: 3/ -1;
  height: 100px;
  border: 5px solid rgb(10, 191, 236);
}

.history {
  grid-column: 1 / -1;
  height: 200px;
  border: 5px solid rgb(236, 10, 187);
  margin-bottom: 5%;
}

.title {
  text-align: center;
}


