<div class="">
    <h3 class="title"> Send Messages</h3>
</div>

<div class="main-cont">
    <ng-container >
        <div class="sender">
            <input type="text" [(ngModel)]="msg">
            <button (click)="sendMessage()">Send</button> 
            <div class="btn-history">
                <button class="history" (click)="showHistory()">View History</button>
            </div>
        </div>
    </ng-container>

    <ng-container >
        <div class="receiver-1" [ngStyle]="{'margin-bottom' : !viewHistory ? '5%' : '0%'}">
            <app-receiver-one></app-receiver-one>
        </div>
    </ng-container>

    <ng-container >
        <div class="receiver-2" [ngStyle]="{'margin-bottom' : !viewHistory ? '5%' : '0%'}">
            <app-receiver-two></app-receiver-two>
        </div>
    </ng-container>

    <ng-container *ngIf="viewHistory">
        <div class="history">
            <app-history-logs></app-history-logs>
        </div>
    </ng-container>
</div>