<div>
    <h3>Ng Parent</h3>
</div>
<ng-template [ngIf]="displayTable">
    <ng-container>
        Hello welcome
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Williams Moss</td>
                    <td>55</td>
                    <td>BA</td>
                </tr>
                <tr>
                    <td>John Bark</td>
                    <td>45</td>
                    <td>CEO</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-template>