.cont {
    margin: 10px;
    .r2-message-display{
        display: flex;
        flex-direction: column;
        h3 {
            margin: 0%;
        }
        h5 {
            margin: 0% 0% 3% 0%;
        }
    }
    p {
        margin: 0%;
    }
}
