<div class="history-cont">
    <h4>Messages Logs</h4>
    <div class="table" style="overflow-y: scroll; height: 130px;">
        <table border="2px">
            <thead>
                <th>From</th>
                <!-- <th>To</th> -->
                <th>Message</th>
                <th>Time</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of historyData">
                    <td>{{item.from}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.at | date:'short'}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>